<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:include="partials/head :: head">

        <link rel="stylesheet" type="text/css"
              href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

        <title>View All Users</title>
</head>
<body>

<div class="container m-auto">
    <div class="col-md-6 col-md-offset-3">
        <div th:each="user : ${users}">
            <h3 th:text="${user.username}"></h3>
            <p><span th:text="${user.first_name}"></span><span th:text="${user.last_name}"></span></p>
            <p th:text="${user.email}"></p>
            <p th:text="${user.phone}"></p>
            <a class="btn btn-primary" href="/user/edit" role="button">EDIT</a>
        </div>
    </div>
</div>

</body>
</html>