<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/admin-navbar :: head">
    <title>Hilltop-Home</title>

    <style>
        nav {
            height: 70px !important;
        }
        th, td {
            font-family: "Lato", sans-serif;
            font-weight: 300;
            color: #fff;
            font-size: 18px;
        }
    </style>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>



<!--<div>-->
<!--    <br>-->
<!--    <h3><a class="btn btn-success" style="text-decoration: none; color:black;" th:href="@{/admin}">Dashboard</a></h3>-->
<!--    <br>-->
<!--</div>-->
<!--    <div class="container">-->
<!--        <div class="content">-->
<!--            -->
<!--        </div>-->
<!--    </div>-->
<div class="container m-5 p-5">
                <!--                    <div class="icon icon-fill"><i class="fa fa-home"></i></div>-->
<!--    <div class="icon-container">-->
        <div>
            <a th:href="@{/admin}"><div class="icon icon-fill"><i class="fa fa-home"></i></div></a>
            <h4>Dashboard</h4>
        </div>
<!--    </div>-->
<h1>Update User's Profiles</h1>
<!--<div>-->
<!--    <br>-->
<!--    <h3><a class="p-2 mt-3" style="text-decoration: none; color:black;" th:href="@{/Home}">back</a></h3>-->
<!--    <br>-->
<!--</div>-->

<div class="container m-auto">
    <div class="col-lg-12 col-md-offset-12">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
            <tr>
                <th>Username</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>EDIT</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.username}"></td>
                <td><span th:text="${user.first_name}"></span><span th:text="${user.last_name}"></span></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.phone}"></td>
                <td><a class="btn btn-warning" th:href="@{/admin/user/edit{id}(id=${user.id})}" role="button">EDIT</a></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>


<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<!--<script th:src="@{https://cdn.jsdelivr.net/npm/popper.js'@'1.16.1/dist/umd/popper.min.js}"></script>-->
<script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>