<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Beer</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>

<!--  TOP NAV  -->
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:replace="partials/login-modal :: login-modal"></div>
<div th:replace="partials/contact-modal :: contact-modal"></div>



<!--  CONTAINER  -->
<div class="mt-5" style="width:100%;">

    <!--================ SIDE NAV =====================-->
    <div class="fixed-top shadow" style="margin-top:4.8%; width:100%; border-top: 2px solid white;">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4" style="background-color: rgba(1, 1, 1, 0.8);">
                <ul class="row">
                    <li class="col-md-2" style="text-decoration: none;">
                        <form style="color: white;" th:action="@{/Search}">
                            <button type="submit" class="m-1 nav-link rounded-pill btn-custom"
                                    style=" text-decoration: none; width: 100%;">
                                All Products
                            </button>
                        </form>
                    </li>
                    <!--+++++++++++++ INSERT CUSTOM LOOP CATS +++++++++++++-->
                    <li class="col-md-2" th:each="category : ${catTags}">
                        <form th:action="@{/Beer}" method="get">
                            <button type="submit" class="m-1 nav-link rounded-pill btn-custom"
                                    style=" text-decoration: none; width: 100%;"
                                    th:value="${category.getId()}" name="catId">
                                <span th:text="${category.getName()}"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-dark " style="background-color: white; text-decoration: none;">

             <span style="color: white; text-decoration: none;" class="d-flex d-inline mr-4">

                  <form style="text-decoration: none; color: white;" th:action="@{/Search}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%;">All Products
                        </button>
                    </form>
                    <form style="text-decoration: none; color: white;" th:action="@{/Liquor}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%;">Liquor
                        </button>
                    </form>

                 <!-- +++++++++++++ CURRENT DIV HIGHLIGHT+++++++++++++ -->
                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%; font-size: large; border-color: #400000; background-color:white; color:black;">Beer
                        </button>
                    </form>

                    <form style="text-decoration: none; color: white;" th:action="@{/Wine}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%;">Wine
                        </button>
                    </form>
                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style="text-decoration: none; width: 100%;">Extras
                        </button>
                    </form>
                 <!-- +++++++++++++ INSERT TITLE +++++++++++++ -->
        </span>
            <div style="color: black;" class="ml-auto mt-2 mr-2 d-flex text-center">
                <h2 style="font-weight: lighter; font-size: medium;">
                    <span>browse</span> <br> <span>categories</span>
                </h2>
                <h6 th:text="${keyword}"></h6>
            </div>
            <div>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation"
                        style="background-color: black; border: 2px solid #400000;">
                    <span class="navbar-toggler-icon shadow"></span>
                </button>
            </div>
        </nav>
    </div>


    <!-- ===============   LIQUOR SHOW ALL PRODUCTS LOOP  ===================  -->
    <div class="row justify-content-around d-flex text-center mr-auto ml-auto"
         style="width: 90%; z-index: 1; margin-top: 10%; position: relative;">
        <!--   +++++++++++++     INSTERT LOOP VAR   +++++++++++++ -->
        <div th:each="productType : ${products}"
             class="card col-md-3 col-sm-1 pt-3 pb-3 pr-4 pl-4 mr-2 ml-2 mb-4 mt-4 btn-product-hover"
             style="background-color:#EBEDF0; ">
            <div class="flex-center">
                <div class="d-flex d-inline text-center" style="font-size:large; color: black;">
                    <p th:text="${productType.name}"></p>
                    <br>
                </div>
                <div class="d-flex d-inline">
                    <img class="center shadow rounded"
                         style="width: 120px; height: 175px; border-left: 5px solid #3E0723;"

                         src="../static/img/filler_bottle.png"
                         th:src="@{img/BEER.jpg}" alt="bottle"/>
                    <!--  +++++++++++++      INSTERT CORRECT TAG   +++++++++++++ -->
                    <div class="d-inline d-flex text-center m-auto">

                        <form th:action="@{/Beer}" method="get" style="text-decoration: none;" class="text-center">
                            <!--                            <p style="font-weight: lighter; font-size: smaller;"><i>tags</i></p>-->
                            <hr>
                            <!--   ========  PRODUCT-TYPE TAGS  =======        -->
                            <button type="submit"
                                    style="color: black; font-size: smaller; background-color: #EBEDF0; margin-top: -1%;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill">
                                <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                            </button>
                            <br>
                            <!--   ========  CATEGORY TAGS =======    -->
                            <button type="submit"
                                    style="color: black; font-size: smaller; background-color: #EBEDF0;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill"
                                    th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                                <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                            </button>
                            <br>
                            <!--   ========  SUB-CATEGORY TAGS =======    -->
                            <button type="submit"
                                    style="color: black; font-size: smaller;background-color: #EBEDF0; "
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill"
                                    th:value="${productType.getSubCategory().getId()}" name="subId">
                                <span th:text="${productType.getSubCategory().getName()}"></span>
                            </button>
                            <hr>
                            <!--  =============== PRICE ===================== -->
                            <p style="font-weight: bold">Price: $<span
                                    style="font-weight: bold" th:text="${productType.priceInCents}/100"></span></p>
                        </form>

                    </div>
                </div>

                <!--  =============== ADD TO CART ===================== -->
                <form th:action="@{/Beer}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="width: 100%; font-size: medium"
                            class="rounded btn-custom p-2 mt-2">Add to Cart
                    </button>
                </form>
            </div>
        </div>
        <!--end-->
    </div>
    <!-- ===============   CATS SHOW ALL PRODUCTS LOOP  ===================  -->
    <div class="row justify-content-around d-flex text-center mr-auto ml-auto"
         style="width: 95%; z-index: 1; position: relative;">
        <!--   +++++++++++++     INSTERT LOOP VAR   +++++++++++++ -->
        <div th:each="productType : ${catProducts}"
             class="card col-md-3 col-sm-1 pt-3 pb-3 pr-4 pl-4 mr-2 ml-2 mb-4 mt-4 btn-product-hover"
             style="background-color:#EBEDF0; height: 30%;">
            <div class="flex-center" style="height: 10%;">
                <div class="d-flex d-inline text-center" style="font-size:large; color: black;">
                    <p th:text="${productType.name}"></p>
                    <br>
                </div>
                <div class="d-flex d-inline">
                    <img class="center shadow rounded"
                         style="width: 120px; height: 175px; border-left: 5px solid #3E0723;"

                         src="../static/img/filler_bottle.png"
                         th:src="@{img/BEER.jpg}" alt="bottle"/>
                    <!--  +++++++++++++      INSTERT CORRECT TAG   +++++++++++++ -->
                    <div class="d-inline d-flex text-center m-auto">

                        <form th:action="@{/Liquor}" method="get" style="text-decoration: none;"
                              class="text-center">
                            <!--                            <p style="font-weight: lighter; font-size: smaller;"><i>tags</i></p>-->
                            <hr>
                            <!--   ========  PRODUCT-TYPE TAGS  =======        -->
                            <button type="submit"
                                    style="color: black; font-size: smaller; background-color: #EBEDF0; margin-top: -1%;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill">
                                <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                            </button>
                            <br>
                            <!--   ========  CATEGORY TAGS =======    -->
                            <button type="submit"
                                    style="color: black; font-size: smaller; background-color: #EBEDF0;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill"
                                    th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                                <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                            </button>
                            <br>
                            <!--   ========  SUB-CATEGORY TAGS =======    -->
                            <button type="submit"
                                    style="color: black; font-size: smaller;background-color: #EBEDF0;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill"
                                    th:value="${productType.getSubCategory().getId()}" name="subId">
                                <span th:text="${productType.getSubCategory().getName()}"></span>
                            </button>
                            <hr>
                            <!--  =============== PRICE ===================== -->
                            <p style="font-weight: bold">Price: $<span
                                    style="font-weight: bold" th:text="${productType.priceInCents}/100"></span></p>
                        </form>

                    </div>
                </div>

                <!--  =============== ADD TO CART ===================== -->
                <form th:action="@{/Beer}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="width: 100%; font-size: medium"
                            class="rounded btn-custom p-2 mt-2">Add to Cart
                    </button>
                </form>
            </div>
        </div><!--end-->
    </div>
    <!-- ===============   SUB CAT SHOW ALL PRODUCTS LOOP  ===================  -->
    <div class="row justify-content-around d-flex text-center mr-auto ml-auto"
         style="width: 95%; z-index: 1; margin-top: 1%; position: relative;">
        <!--   +++++++++++++     INSTERT LOOP VAR   +++++++++++++ -->
        <div th:each="productType : ${subProducts}"
             class="card col-md-3 col-sm-1 pt-3 pb-3 pr-4 pl-4 mr-2 ml-2 mb-4 mt-4 btn-product-hover"
             style="background-color:#EBEDF0;">
            <div class="flex-center">
                <div class="d-flex d-inline text-center" style="font-size:large; color: black;">
                    <p th:text="${productType.name}"></p>
                    <br>
                </div>
                <div class="d-flex d-inline">
                    <img class="center shadow rounded"
                         style="width: 120px; height: 175px; border-left: 5px solid #3E0723;"

                         src="../static/img/filler_bottle.png"
                         th:src="@{img/BEER.jpg}" alt="bottle"/>
                    <!--  +++++++++++++      INSTERT CORRECT TAG   +++++++++++++ -->
                    <div class="d-inline d-flex text-center m-auto">

                        <form th:action="@{/Beer}" method="get" style="text-decoration: none;"
                              class="text-center">
                            <!--                            <p style="font-weight: lighter; font-size: smaller;"><i>tags</i></p>-->
                            <hr>
                            <!--   ========  PRODUCT-TYPE TAGS  =======        -->
                            <button type="submit"
                                    style="color: black; font-size: smaller; background-color: #EBEDF0; margin-top: -1%;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill">
                                <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                            </button>
                            <br>
                            <!--   ========  CATEGORY TAGS =======    -->
                            <button type="submit"
                                    style="color: black; font-size: smaller; background-color: #EBEDF0;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill"
                                    th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                                <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                            </button>
                            <br>
                            <!--   ========  SUB-CATEGORY TAGS =======    -->
                            <button type="submit"
                                    style="color: black; font-size: smaller;background-color: #EBEDF0;"
                                    class="mt-auto btn btn-cats p-2 m-1 rounded-pill"
                                    th:value="${productType.getSubCategory().getId()}" name="subId">
                                <span th:text="${productType.getSubCategory().getName()}"></span>
                            </button>
                            <hr>
                            <!--  =============== PRICE ===================== -->
                            <p style="font-weight: bold">Price: $<span
                                    style="font-weight: bold" th:text="${productType.priceInCents}/100"></span></p>
                        </form>

                    </div>
                </div>

                <!--  =============== ADD TO CART ===================== -->
                <form th:action="@{/Beer}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="width: 100%; font-size: medium"
                            class="rounded btn-custom p-2 mt-2">Add to Cart
                    </button>
                </form>
            </div>
        </div> <!--end -->
    </div>
</div>











<!--  CONTAINER  -->
<!--<div class="row mt-5" style="width:100%;">-->

<!--    &lt;!&ndash;  SIDE NAV  &ndash;&gt;-->
<!--    &lt;!&ndash;  CITATION: https://coreui.io/docs/getting-started/download/#source-files  &ndash;&gt;-->
<!--    &lt;!&ndash;    <div th:fragment="side-nav" class="col-md-2 c-sidebar c-sidebar-show fixed-top nav-expand-md"&ndash;&gt;-->
<!--    &lt;!&ndash;         style="margin-top: 52px; height: 100%; z-index: 1001; background-color: black;">&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;  SEARCH KEYWORD RENDERED  &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        <a th:href="@{/Beer}" style="color: white">&ndash;&gt;-->
<!--    &lt;!&ndash;            <h2 style="color:white; font-weight: lighter" class="pl-2 mt-5">&ndash;&gt;-->
<!--    &lt;!&ndash;                Beer&ndash;&gt;-->
<!--    &lt;!&ndash;        &lt;!&ndash;  SEARCH BAR  &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;        <a class="p-2 mt-3" style="text-decoration: none; color:white;" th:href="@{/Search}">back</a>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;            </h2>&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;        <form class="ml-3 d-inline mt-3" th:action="@{/Search}" method="get">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;            <input id="txtSearch" type="text" name="keyword">&ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;&lt;!&ndash;        </form>&ndash;&gt;&ndash;&gt;-->

<!--    &lt;!&ndash;        &lt;!&ndash;    PRODUCT TYPE SIDE-NAV DISPLAY    &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;        <ul class="c-sidebar-nav">&ndash;&gt;-->
<!--    &lt;!&ndash;            <li class="c-sidebar-nav-title">Browse by category</li>&ndash;&gt;-->

<!--    &lt;!&ndash;            &lt;!&ndash;  CATEGORY SIDE NAV BUTTONS WORKING &ndash;&gt;&ndash;&gt;-->
<!--    &lt;!&ndash;            <li>&ndash;&gt;-->
<!--    &lt;!&ndash;                <ul class="c-sidebar-nav">&ndash;&gt;-->
<!--    &lt;!&ndash;                    <li class="c-sidebar-nav pl-3" th:each="category : ${catTags}">&ndash;&gt;-->
<!--    &lt;!&ndash;                        <form th:action="@{/Beer}" method="get">&ndash;&gt;-->
<!--    &lt;!&ndash;                            <button type="submit" class="c-sidebar-nav-link m-1 nav-link"&ndash;&gt;-->
<!--    &lt;!&ndash;                                    style="color: white; text-decoration: none;"&ndash;&gt;-->
<!--    &lt;!&ndash;                                    th:value="${category.getId()}" name="catId">&ndash;&gt;-->

<!--    &lt;!&ndash;                                <span th:text="${category.getName()}"></span>&ndash;&gt;-->
<!--    &lt;!&ndash;                            </button>&ndash;&gt;-->
<!--    &lt;!&ndash;                        </form>&ndash;&gt;-->
<!--    &lt;!&ndash;                    </li>&ndash;&gt;-->
<!--    &lt;!&ndash;                </ul>&ndash;&gt;-->
<!--    &lt;!&ndash;            </li>&ndash;&gt;-->
<!--    &lt;!&ndash;        </ul>&ndash;&gt;-->
<!--    &lt;!&ndash;    </div>&ndash;&gt;-->


<!--    &lt;!&ndash;SIDE NAV&ndash;&gt;-->
<!--    &lt;!&ndash;SIDE NAV&ndash;&gt;-->
<!--    <div class="fixed-top" style="margin-top:4.8%; width:100%;" >-->
<!--        <div class="collapse" id="navbarToggleExternalContent">-->
<!--            <div class="p-4" style="background-color: rgba(0, 0, 0, 0.8);">-->
<!--                <ul class="row">-->
<!--                    <li class="col-md-2">-->
<!--                        <form style="text-decoration: none; color: white;" th:action="@{/Search}" >-->
<!--                            <button type="submit" class="m-1 nav-link"-->
<!--                                    style="color: white; background-color: #400000; text-decoration: none; width: 100%;">All Products-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                    <li class="col-md-2" th:each="category : ${catTags}">-->
<!--                        <form th:action="@{/Beer}" method="get">-->
<!--                            <button type="submit" class="m-1 nav-link"-->
<!--                                    style="color: white; background-color: #400000; text-decoration: none; width: 100%;"-->
<!--                                    th:value="${category.getId()}" name="catId">-->
<!--                                <span th:text="${category.getName()}"></span>-->
<!--                            </button>-->
<!--                        </form>-->
<!--                    </li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--        <nav class="navbar navbar-dark bg-dark">-->

<!--                     <span style="color: white;" class="d-flex d-inline">-->

<!--                  <form style="text-decoration: none; color: white;" th:action="@{/Search}">-->
<!--                        <button type="submit" class="m-1 nav-link ml-1 mr-2"-->
<!--                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">All Products-->
<!--                        </button>-->
<!--                    </form>-->
<!--                         &lt;!&ndash;             <ul class="row">&ndash;&gt;-->

<!--                         &lt;!&ndash;                <li class="col-md-2">&ndash;&gt;-->
<!--                    <form style="text-decoration: none; color: white;" th:action="@{/Liquor}">-->
<!--                        <button type="submit" class="m-1 nav-link ml-1 mr-2"-->
<!--                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Liquor-->
<!--                        </button>-->
<!--                    </form>-->
<!--                         &lt;!&ndash;                </li>&ndash;&gt;-->

<!--                         &lt;!&ndash;                <li class="col-md-2">&ndash;&gt;-->
<!--                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">-->
<!--                        <button type="submit" class="m-1 nav-link ml-1 mr-2"-->
<!--                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Beer-->
<!--                        </button>-->
<!--                    </form>-->
<!--                         &lt;!&ndash;                </li>&ndash;&gt;-->

<!--                         &lt;!&ndash;                <li class="col-md-2">&ndash;&gt;-->
<!--                    <form style="text-decoration: none; color: white;" th:action="@{/Wine}">-->
<!--                        <button type="submit" class="m-1 nav-link ml-1 mr-2"-->
<!--                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Wine-->
<!--                        </button>-->
<!--                    </form>-->
<!--                         &lt;!&ndash;                </li>&ndash;&gt;-->
<!--                         &lt;!&ndash;&ndash;&gt;-->
<!--                         &lt;!&ndash;                <li class="col-md-2">&ndash;&gt;-->
<!--                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">-->
<!--                        <button type="submit" class="m-1 nav-link ml-1 mr-2"-->
<!--                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Extras-->
<!--                        </button>-->
<!--                    </form>-->

<!--                         &lt;!&ndash;                 <form class="ml-3 d-inline mt-3" th:action="@{/Search}" method="get">&ndash;&gt;-->
<!--                         &lt;!&ndash;                     <input id="txtSearch" type="text" name="keyword">&ndash;&gt;-->
<!--                         &lt;!&ndash;                </form>&ndash;&gt;-->

<!--        </span>-->
<!--            <div style="color: white;" class="ml-auto mr-3 mt-1">-->
<!--                &lt;!&ndash;                <h2 style="font-weight: lighter;">&ndash;&gt;-->
<!--                <h2 style="font-weight: lighter;">-->
<!--                    Beer-->
<!--                </h2>-->
<!--                &lt;!&ndash;                <p>Click to browse by categories</p>&ndash;&gt;-->
<!--&lt;!&ndash;                <h6 th:text="${keyword}"></h6>&ndash;&gt;-->
<!--            </div>-->

<!--            <button class="navbar-toggler" type="button" data-toggle="collapse"-->
<!--                    data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"-->
<!--                    aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">-->
<!--                <span class="navbar-toggler-icon" style="background-color: black"></span>-->
<!--            </button>-->
<!--        </nav>-->
<!--    </div>-->


<!--    &lt;!&ndash;SHOW ALL PRODUCTS&ndash;&gt;-->
<!--    <div class="col-md-12 mt-5" style="width: 100%; z-index: 1;">-->
<!--        &lt;!&ndash;  SEARCH KEYWORD RENDERED  &ndash;&gt;-->
<!--        <a th:href="@{/Beer}" style="color: white">-->
<!--            <h2 style="color:white; font-weight: lighter" class="pl-2 mt-5">-->
<!--                Beer-->
<!--            </h2>-->
<!--            &lt;!&ndash;                SEARCH BAR&ndash;&gt;-->
<!--&lt;!&ndash;            <form class="ml-3 d-inline mt-3" th:action="@{/Search}" method="get">&ndash;&gt;-->
<!--&lt;!&ndash;                <input id="txtSearch" type="text" name="keyword">&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--            &lt;!&ndash; ===============   BEER LOOP  ===================  &ndash;&gt;-->
<!--            <div th:each="productType : ${products}"-->
<!--                 class="card col-md-3 mt-3 m-3 shadow p-3 bg-white rounded float-right">-->
<!--                <div class="card-header text-white center"-->
<!--                     style="border-bottom: 4px solid maroon;  background-color: black">-->
<!--                    <img class="center" style="width: 126px; height: 189px;"-->
<!--                         src="../static/img/filler_bottle.png"-->
<!--                         th:src="@{img/BEER.jpg}" alt="bottle"/>-->
<!--                </div>-->
<!--                <div class="card-body d-flex flex-column">-->
<!--                    <p th:text="${productType.name}"></p>-->
<!--                    <p th:text="${productType.priceInCents}"></p>-->

<!--                    &lt;!&ndash;                 ADD TO CART            &ndash;&gt;-->
<!--                    <form th:action="@{/Beer}" th:method="post">-->
<!--                        <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>-->
<!--                        <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>-->
<!--                    </form>-->

<!--                    <hr>-->
<!--                    <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>-->
<!--                    &lt;!&ndash;   ============      TAGS       ========&ndash;&gt;-->
<!--                    <form th:action="@{/Beer}" method="get">-->
<!--                        &lt;!&ndash;   ========  PRODUCT-TYPE TAGS CONNECTED=======        &ndash;&gt;-->
<!--                        <button type="submit"-->
<!--                                style="color: black; font-size: smaller;" class="mt-auto btn btn-light">-->
<!--                            <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
<!--                        </button>-->
<!--                        &lt;!&ndash;   ========  CATEGORY TAGS CONNECTED=======        &ndash;&gt;-->
<!--                        <button type="submit"-->
<!--                                style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
<!--                                th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">-->
<!--                            <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>-->
<!--                        </button>-->
<!--                        &lt;!&ndash;   ========  SUB-CATEGORY TAGS CONNECTED=======    &ndash;&gt;-->
<!--                        <button type="submit"-->
<!--                                style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
<!--                                th:value="${productType.getSubCategory().getId()}" name="subId">-->
<!--                            <span th:text="${productType.getSubCategory().getName()}"></span>-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->

<!--            &lt;!&ndash;   ========================== CAT NAV PRODUCT LOOP ================================    &ndash;&gt;-->
<!--            <div th:each="productType : ${catProducts}"-->
<!--                 class="card col-md-3 m-3 mt-3 shadow p-3 bg-white rounded float-right">-->
<!--                <div class="card-header  text-white center"-->
<!--                     style="border-bottom: 4px solid maroon;  background-color: black">-->
<!--                    <img class="center" style="width: 126px; height: 189px;"-->
<!--                         src="../static/img/filler_bottle.png"-->
<!--                         th:src="@{img/BEER.jpg}" alt="bottle"/>-->
<!--                </div>-->
<!--                <div class="card-body d-flex flex-column">-->
<!--                    <p th:text="${productType.name}"></p>-->
<!--                    <p th:text="${productType.priceInCents}"></p>-->

<!--                    &lt;!&ndash;                 ADD TO CART            &ndash;&gt;-->
<!--                    <form th:action="@{/Beer}" th:method="post">-->
<!--                        <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>-->
<!--                        <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>-->
<!--                    </form>-->
<!--                    <hr>-->
<!--                    <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>-->
<!--                    &lt;!&ndash;   ============      TAGS       ========&ndash;&gt;-->
<!--                    <form th:action="@{/Beer}" method="get">-->
<!--                        &lt;!&ndash;   ========  PRODUCT-TYPE TAGS CONNECTED=======        &ndash;&gt;-->
<!--                        <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
<!--                                th:value="${productType.getSubCategory().getCategory().getProductType().getId() }"-->
<!--                                name="productTypeId">-->
<!--                            <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
<!--                        </button>-->
<!--                        &lt;!&ndash;   ========  CATEGORY TAGS CONNECTED=======        &ndash;&gt;-->
<!--                        <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
<!--                                th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">-->
<!--                            <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>-->
<!--                        </button>-->
<!--                        &lt;!&ndash;   ========  SUB-CATEGORY TAGS NOT CONNECTED=======    &ndash;&gt;-->
<!--                        <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
<!--                                th:value="${productType.getSubCategory().getId()}" name="subId">-->
<!--                            <span th:text="${productType.getSubCategory().getName()}"></span>-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->

<!--            </div>-->


<!--            &lt;!&ndash;    SUB CAT NAV PRODUCT DISPLAY ON CLICK    &ndash;&gt;-->
<!--            <div th:each="productType : ${subProducts}"-->
<!--                 class="card col-md-3 m-3 mt-3 shadow p-3 bg-white rounded float-right">-->
<!--                &lt;!&ndash;            <a style="color: black; text-decoration: none;" th:href="@{/Search/{id}(id=${productType.id})}"&ndash;&gt;-->
<!--                &lt;!&ndash;               th:value="${productType.id}">&ndash;&gt;-->
<!--                <div class="card-header text-white center"-->
<!--                     style="border-bottom: 4px solid maroon;  background-color: black">-->
<!--                    <img class="center" style="width: 126px; height: 189px;"-->
<!--                         src="../static/img/filler_bottle.png"-->
<!--                         th:src="@{img/BEER.jpg}" alt="bottle"/>-->
<!--                </div>-->
<!--                <div class="card-body d-flex flex-column">-->
<!--                    <p th:text="${productType.name}"></p>-->
<!--                    <p th:text="${productType.priceInCents}"></p>-->

<!--                    &lt;!&ndash;                 ADD TO CART            &ndash;&gt;-->
<!--                    <form th:action="@{/Beer}" th:method="post">-->
<!--                        <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>-->
<!--                        <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>-->
<!--                    </form>-->
<!--                    <hr>-->
<!--                    <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>-->
<!--                    &lt;!&ndash;   ============      TAGS       ========&ndash;&gt;-->
<!--                    <form th:action="@{/Beer}" method="get">-->
<!--                        &lt;!&ndash;   ========  PRODUCT-TYPE TAGS CONNECTED=======        &ndash;&gt;-->
<!--                        <button type="submit"-->
<!--                                style="color: black; font-size: smaller;" class="mt-auto btn btn-light">-->
<!--                            <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
<!--                        </button>-->
<!--                        &lt;!&ndash;   ========  CATEGORY TAGS CONNECTED=======        &ndash;&gt;-->
<!--                        <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
<!--                                th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">-->
<!--                            <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>-->
<!--                        </button>-->
<!--                        &lt;!&ndash;   ========  SUB-CATEGORY TAGS CONNECTED=======    &ndash;&gt;-->
<!--                        <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
<!--                                th:value="${productType.getSubCategory().getId()}" name="subId">-->
<!--                            <span th:text="${productType.getSubCategory().getName()}"></span>-->
<!--                        </button>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->


<!--    </div>-->
<!--</div>-->
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>