<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Search</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>

<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<div class="row mt-5" style="width:100%;">
    <nav class="col-md-1" th:insert="partials/side-nav :: side-nav"></nav>

    <div class="card card-body" th:each="category : ${categories}">
        <p th:text="${category.getName()}"></p>
        <!--    <p style="font-weight: lighter;">-->
        <!--        ~ <span style="font-weight: lighter;" th:text="${comment.getParentPost().getParentUser().getEmail()}"></span>-->
        <!--    </p>-->
    </div>
</div>
</body>
</html>