<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Liquor</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>

<!--  TOP NAV  -->
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:replace="partials/login-modal :: login-modal"></div>
<div th:replace="partials/contact-modal :: contact-modal"></div>

<!--  CONTAINER  -->
<div class="mt-5" style="width:100%;">
    <!--SIDE NAV-->
    <div class="fixed-top" style="margin-top:4.8%; width:100%; border-top: 2px solid white;">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4" style="background-color: rgba(0, 0, 0, 0.8);">
                <ul class="row">
                    <li class="col-md-2" style="text-decoration: none;">
                        <form style="color: white;" th:action="@{/Search}">
                            <button type="submit" class="m-1 nav-link"
                                    style="color: white; background-color: #400000; text-decoration: none; width: 100%;">
                                All Products
                            </button>
                        </form>
                    </li>
                    <li class="col-md-2" th:each="category : ${catTags}">
                        <form th:action="@{/Liquor}" method="get">
                            <button type="submit" class="m-1 nav-link"
                                    style="color: white; background-color: #400000; text-decoration: none; width: 100%;"
                                    th:value="${category.getId()}" name="catId">
                                <span th:text="${category.getName()}"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">

             <span style="color: white;" class="d-flex d-inline">

                  <form style="text-decoration: none; color: white;" th:action="@{/Search}">
                        <button type="submit" class="m-1 nav-link ml-1 mr-2"
                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">All Products
                        </button>
                    </form>
                 <!--             <ul class="row">-->

                 <!--                <li class="col-md-2">-->
                    <form style="text-decoration: none; color: white;" th:action="@{/Liquor}">
                        <button type="submit" class="m-1 nav-link ml-1 mr-2"
                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Liquor
                        </button>
                    </form>
                 <!--                </li>-->

                 <!--                <li class="col-md-2">-->
                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">
                        <button type="submit" class="m-1 nav-link ml-1 mr-2"
                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Beer
                        </button>
                    </form>
                 <!--                </li>-->

                 <!--                <li class="col-md-2">-->
                    <form style="text-decoration: none; color: white;" th:action="@{/Wine}">
                        <button type="submit" class="m-1 nav-link ml-1 mr-2"
                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Wine
                        </button>
                    </form>
                 <!--                </li>-->
                 <!---->
                 <!--                <li class="col-md-2">-->
                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">
                        <button type="submit" class="m-1 nav-link ml-1 mr-2"
                                style="color: white; background-color: #400000; text-decoration: none; width: 100%;">Extras
                        </button>
                    </form>

                 <!--                 <form class="ml-3 d-inline mt-3" th:action="@{/Search}" method="get">-->
                 <!--                     <input id="txtSearch" type="text" name="keyword">-->
                 <!--                </form>-->

        </span>
            <div style="color: white; font-weight: lighter;" class="ml-auto mr-3 mt-1">
                <h2 style="font-weight: lighter;">
                    Liquor
                </h2>
                <h6 th:text="${keyword}"></h6>
            </div>
            <div>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="background-color: black;">
                    <span class="navbar-toggler-icon" style="background-color: black"></span>
                </button>
                <!--                <p style="color: white;">Click to browse by categories</p>-->
            </div>
        </nav>
    </div>

    <!--SHOW ALL PRODUCTS-->
    <div class="row justify-content-around d-flex text-center mr-auto ml-auto"
         style="width: 90%; z-index: 1; margin-top: 8%; position: relative;">

        <!--        <a th:href="@{/Liquor}" style="color: white">-->
        <!--            <h2 style="color:white; font-weight: lighter" class="pl-2 mt-5">-->
        <!--                Liquor-->
        <!--                <span><h5 th:text="${keyword}"></h5></span>-->
        <!--            </h2>-->
        <!--        </a>-->
        <!-- ===============   LIQUOR LOOP  ===================  -->
        <div th:each="productType : ${products}"
             class="card col-md-3 p-3 mr-2 ml-2 mb-5 mt-5 rounded"
             style="background-color:#EBEDF0; border: 2px solid #EBEDF0;">
<!--            style="background-color:#EBEDF0;  border-left: 3px solid #3E0723; border-right: 2px solid #EBEDF0; border-top: 2px solid #EBEDF0;">-->
            <div class="d-flex d-inline text-center" style="font-size:large; color: black;">
                <p th:text="${productType.name}"></p>
                <br>
            </div>
            <div class="d-flex d-inline">
                <img class="center shadow" style="width: 100px; height: 100px; border-left: 5px solid #3E0723;"
                     src="../static/img/filler_bottle.png"
                     th:src="@{img/LIQUOR.jpg}" alt="bottle"/>
                <!--   ============      TAGS       ========-->
                <div class="d-inline">
                    <p style="font-weight: lighter; font-size: smaller;" class="float-right;"><i>tags</i></p>
                    <form th:action="@{/Liquor}" method="get">
                        <!--   ========  PRODUCT-TYPE TAGS  CONNECTED=======        -->
                        <button type="submit"
                                style="color: black; font-size: smaller; border: 1px solid #3E0723;"
                                class="mt-auto btn btn-light">
                            <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                        </button>
                        <!--   ========  CATEGORY TAGS NOT CONNECTED=======        -->
                        <button type="submit"
                                style="color: black; font-size: smaller; border: 1px solid #3E0723;"
                                class="mt-auto btn btn-light"
                                th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                            <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                        </button>
                        <!--   ========  SUB-CATEGORY TAGS  NOT CONNECTED=======    -->
                        <button type="submit"
                                style="color: black; font-size: smaller; border: 1px solid #3E0723;"
                                class="mt-auto btn btn-light"
                                th:value="${productType.getSubCategory().getId()}" name="subId">
                            <span th:text="${productType.getSubCategory().getName()}"></span>
                        </button>
                    </form>
                </div>
            </div>

            <!--            </div>-->
            <!--                 ADD TO CART            -->
            <form th:action="@{/Liquor}" th:method="post" style="width: 100%;">
            <p class="mt-auto p-2" th:text="${productType.priceInCents}"></p>
                <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                <button style="background-color: #3E0723; width: 100%; position: absolute;" class="text-white fixed-bottom">Add to Cart</button>
            </form>
            <!--            <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>-->
            <!--            &lt;!&ndash;   ============      TAGS       ========&ndash;&gt;-->
            <!--            <div class="d-inline d-flex">-->
            <!--                <form th:action="@{/Liquor}" method="get">-->
            <!--                    &lt;!&ndash;   ========  PRODUCT-TYPE TAGS  CONNECTED=======        &ndash;&gt;-->
            <!--                    <button type="submit"-->
            <!--                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light">-->
            <!--                        <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
            <!--                    </button>-->
            <!--                    &lt;!&ndash;   ========  CATEGORY TAGS NOT CONNECTED=======        &ndash;&gt;-->
            <!--                    <button type="submit"-->
            <!--                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
            <!--                            th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">-->
            <!--                        <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>-->
            <!--                    </button>-->
            <!--                    &lt;!&ndash;   ========  SUB-CATEGORY TAGS  NOT CONNECTED=======    &ndash;&gt;-->
            <!--                    <button type="submit"-->
            <!--                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
            <!--                            th:value="${productType.getSubCategory().getId()}" name="subId">-->
            <!--                        <span th:text="${productType.getSubCategory().getName()}"></span>-->
            <!--                    </button>-->
            <!--                </form>-->
            <!--            </div>-->
            <!--            </div>-->
        </div>
        <!--   ========================== CAT NAV PRODUCT LOOP ================================    -->
        <div th:each="productType : ${catProducts}"
             class="card col-md-3 mt-3 m-3 shadow p-3 bg-white rounded float-right">
            <a style="color: black; text-decoration: none;" th:href="@{/Search/{id}(id=${productType.id})}"
               th:value="${productType.id}">
                <div class="card-header text-white center"
                     style="border-bottom: 4px solid maroon;  background-color: black">
                    <img class="center" style="width: 126px; height: 189px;"
                         src="../static/img/filler_bottle.png"
                         th:src="@{img/LIQUOR.jpg}" alt="bottle"/>
                </div>
            </a>
            <div class="card-body d-flex flex-column">
                <p th:text="${productType.name}"></p>
                <p th:text="${productType.priceInCents}"></p>

                <!--                 ADD TO CART            -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>
                </form>
                <hr>
                <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>
                <!--   ============      TAGS       ========-->
                <form th:action="@{/Liquor}" method="get">
                    <!--   ========  PRODUCT-TYPE TAGS CONNECTED=======        -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getCategory().getProductType().getId() }"
                            name="productTypeId">
                        <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                    </button>
                    <!--   ========  CATEGORY TAGS CONNECTED =======        -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                        <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                    </button>
                    <!--   ========  SUB-CATEGORY TAGS CONNECTED=======    -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getId()}" name="subId">
                        <span th:text="${productType.getSubCategory().getName()}"></span>
                    </button>
                </form>
            </div>

        </div>


        <!--    SUB CAT NAV PRODUCT DISPLAY ON CLICK    -->
        <div th:each="productType : ${subProducts}"
             class="card col-md-3 m-3 mt-3 shadow p-3 bg-white rounded float-right">
            <div class="card-header  text-white center"
                 style="border-bottom: 4px solid maroon;  background-color: black">
                <img class="center" style="width: 126px; height: 189px;"
                     src="../static/img/filler_bottle.png"
                     th:src="@{img/LIQUOR.jpg}" alt="bottle"/>
            </div>
            <div class="card-body d-flex flex-column">
                <p th:text="${productType.name}"></p>
                <p th:text="${productType.priceInCents}"></p>

                <!--                 ADD TO CART            -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>
                </form>
                <hr>
                <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>
                <!--   ============      TAGS       ========-->
                <form th:action="@{/Liquor}" method="get">
                    <!--   ========  PRODUCT-TYPE TAGS CONNECTED=======        -->
                    <button type="submit"
                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light">
                        <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                    </button>
                    <!--   ========  CATEGORY TAGS CONNECTED=======        -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                        <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                    </button>
                    <!--   ========  SUB-CATEGORY TAGS CONNECTED=======    -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getId()}" name="subId">
                        <span th:text="${productType.getSubCategory().getName()}"></span>
                    </button>
                </form>
            </div>
        </div>


    </div>

</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>