<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Liquor</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>

<!--  TOP NAV  -->
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:replace="partials/login-modal :: login-modal"></div>

<!--  CONTAINER  -->
<div class="row mt-5" style="width:100%;">

    <!--  SIDE NAV  -->
    <!--  CITATION: https://coreui.io/docs/getting-started/download/#source-files  -->
    <div th:fragment="side-nav" class="col-md-2 c-sidebar  c-sidebar-show fixed-top nav-expand-md"
         style="margin-top: 52px; height: 100%; z-index: 1001; background-color: #3E0723;">

        <!--  SEARCH BAR  -->
        <a class="p-2 mt-3" style="text-decoration: none; color:white;" th:href="@{/Search}">back</a>

        <form class="ml-3 d-inline mt-3" th:action="@{/Search}" method="get">
            <input id="txtSearch" type="text" name="keyword">
        </form>

        <!--    PRODUCT TYPE SIDE-NAV DISPLAY    -->
        <ul class="c-sidebar-nav">
            <li class="c-sidebar-nav-title">Browse by category</li>

            <!--  CATEGORY SIDE NAV BUTTONS WORKING -->
            <li>
                <ul class="c-sidebar-nav">
                    <li class="c-sidebar-nav pl-3" th:each="category : ${catTags}">
                        <form th:action="@{/Liquor}" method="get">
                            <button type="submit" class="c-sidebar-nav-link m-1 nav-link"
                                    style="color: white; text-decoration: none;"
                                    th:value="${category.getId()}" name="catId">

                                <span th:text="${category.getName()}"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <!--SHOW ALL PRODUCTS-->
    <div class="col-md-12 mt-5" style="width: 100%; z-index: 1;">

        <!--  SEARCH KEYWORD RENDERED  -->
        <a th:href="@{/Liquor}" style="color: white">
            <h2 style="margin-left: 16%; background-color: #3E0723;"
                class="fixed-top pt-3 pl-5 pb-21 mt-5">
                Liquor
                <span><h5 th:text="${keyword}" style="border-bottom: 2px solid #3a4a67;"></h5></span>
            </h2>
        </a>

        <!-- ===============   LIQUOR LOOP  ===================  -->
        <div th:each="productType : ${products}" class="card col-md-3 mt-3 m-3 shadow p-3 bg-white rounded float-right">
            <div class="card-header text-white center"
                 style="border-bottom: 4px solid maroon; background-color: black;  ">
                <img class="center" style="width: 126px; height: 189px;"
                     src="../static/img/filler_bottle.png"
                     th:src="@{img/filler_bottle.png}" alt="bottle"/>
            </div>
            <div class="card-body d-flex flex-column">
                <p th:text="${productType.name}"></p>
                <p th:text="${productType.priceInCents}"></p>

                <!--                 ADD TO CART            -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>
                </form>

                <hr>
                <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>
                <!--   ============      TAGS       ========-->
                <form th:action="@{/Liquor}" method="get">
                    <!--   ========  PRODUCT-TYPE TAGS  CONNECTED=======        -->
                    <button type="submit"
                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light">
                        <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                    </button>
                    <!--   ========  CATEGORY TAGS NOT CONNECTED=======        -->
                    <button type="submit"
                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                        <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                    </button>
                    <!--   ========  SUB-CATEGORY TAGS  NOT CONNECTED=======    -->
                    <button type="submit"
                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getId()}" name="subId">
                        <span th:text="${productType.getSubCategory().getName()}"></span>
                    </button>
                </form>
            </div>
        </div>

        <!--   ========================== CAT NAV PRODUCT LOOP ================================    -->
        <div th:each="productType : ${catProducts}"
             class="card col-md-3 mt-3 m-3 shadow p-3 bg-white rounded float-right">
            <a style="color: black; text-decoration: none;" th:href="@{/Search/{id}(id=${productType.id})}"
               th:value="${productType.id}">
                <div class="card-header text-white center"
                     style="border-bottom: 4px solid maroon;  background-color: black">
                    <img class="center" style="width: 126px; height: 189px;"
                         src="../static/img/filler_bottle.png"
                         th:src="@{img/filler_bottle.png}" alt="bottle"/>
                </div>
            </a>
            <div class="card-body d-flex flex-column">
                <p th:text="${productType.name}"></p>
                <p th:text="${productType.priceInCents}"></p>

                <!--                 ADD TO CART            -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>
                </form>
                <hr>
                <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>
                <!--   ============      TAGS       ========-->
                <form th:action="@{/Liquor}" method="get">
                    <!--   ========  PRODUCT-TYPE TAGS CONNECTED=======        -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getCategory().getProductType().getId() }"
                            name="productTypeId">
                        <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                    </button>
                    <!--   ========  CATEGORY TAGS CONNECTED =======        -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                        <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                    </button>
                    <!--   ========  SUB-CATEGORY TAGS CONNECTED=======    -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getId()}" name="subId">
                        <span th:text="${productType.getSubCategory().getName()}"></span>
                    </button>
                </form>
            </div>

        </div>


        <!--    SUB CAT NAV PRODUCT DISPLAY ON CLICK    -->
        <div th:each="productType : ${subProducts}"
             class="card col-md-3 m-3 mt-3 shadow p-3 bg-white rounded float-right">
            <div class="card-header  text-white center"
                 style="border-bottom: 4px solid maroon;  background-color: black">
                <img class="center" style="width: 126px; height: 189px;"
                     src="../static/img/filler_bottle.png"
                     th:src="@{img/filler_bottle.png}" alt="bottle"/>
            </div>
            <div class="card-body d-flex flex-column">
                <p th:text="${productType.name}"></p>
                <p th:text="${productType.priceInCents}"></p>

                <!--                 ADD TO CART            -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>
                </form>
                <hr>
                <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>
                <!--   ============      TAGS       ========-->
                <form th:action="@{/Liquor}" method="get">
                    <!--   ========  PRODUCT-TYPE TAGS CONNECTED=======        -->
                    <button type="submit"
                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light">
                        <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>
                    </button>
                    <!--   ========  CATEGORY TAGS CONNECTED=======        -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                        <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                    </button>
                    <!--   ========  SUB-CATEGORY TAGS CONNECTED=======    -->
                    <button type="submit" style="color: black; font-size: smaller;" class="mt-auto btn btn-light"
                            th:value="${productType.getSubCategory().getId()}" name="subId">
                        <span th:text="${productType.getSubCategory().getName()}"></span>
                    </button>
                </form>
            </div>
        </div>


    </div>

</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>