<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="shortcut icon" type="image/png" href="img/H.png">
<title>Liquor</title>

<head th:include="partials/head :: head">

    <style>
        nav {
            height: 70px !important;
        }

        .hoverDiv:hover {
            background: rgba(62, 7, 35, .7)
        }
    </style>

</head>
<body class="searchBody">

<!--  TOP NAV  -->
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:replace="partials/login-modal :: login-modal"></div>
<div th:replace="partials/contact-modal :: contact-modal"></div>

<!--  CONTAINER  -->
<div class="mt-5" style="width:100%;">

    <!--================ SIDE NAV =====================-->
    <div class="position: sticky shadow" style=" width:100%; border-top: 2px solid white; position:relative;">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="p-4" style="background-color: rgba(1, 1, 1, 0.8);">
                <ul class="row">
                    <li class="col-md-2" style="text-decoration: none;">
                        <form style="color: white;" th:action="@{/Search}">
                            <button type="submit" class="m-1 nav-link rounded-pill btn-custom"
                                    style=" text-decoration: none; width: 100%;">
                                All Products
                            </button>
                        </form>
                    </li>
                    <!--+++++++++++++ INSERT CUSTOM LOOP CATS +++++++++++++-->
                    <li class="col-md-2" th:each="category : ${catTags}">
                        <form th:action="@{/Liquor}" method="get">
                            <button type="submit" class="m-1 nav-link rounded-pill btn-custom"
                                    style=" text-decoration: none; width: 100%;"
                                    th:value="${category.getId()}" name="catId">
                                <span th:text="${category.getName()}"></span>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <nav class="navbar navbar-dark" style="background-color: white; text-decoration: none; padding-top: 3%;">

             <span style="color: white; text-decoration: none;" class="d-flex d-inline mr-4">
                  <form style="text-decoration: none; color: white;" th:action="@{/Search}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%;">All Products
                        </button>
                    </form>
                 <!-- +++++++++++++ CURRENT DIV HIGHLIGHT+++++++++++++ -->
                    <form style="text-decoration: none; color: white;" th:action="@{/Liquor}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%; font-size: larger; background-color:white; color:black; font-weight: bold; width: 100%; border-color: #400000;">Liquor
                        </button>
                    </form>

                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%;">Beer
                        </button>
                    </form>

                    <form style="text-decoration: none; color: white;" th:action="@{/Wine}">
                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"
                                style=" text-decoration: none; width: 100%;">Wine
                        </button>
                    </form>
                 <!--                    <form style="text-decoration: none; color: white;" th:action="@{/Beer}">-->
                 <!--                        <button type="submit" class="rounded-pill m-1 nav-link ml-1 mr-2 btn-custom"-->
                 <!--                                style="text-decoration: none; width: 100%;">Extras-->
                 <!--                        </button>-->
                 <!--                    </form>-->
                 <!-- +++++++++++++ INSERT TITLE +++++++++++++ -->

                 <!--  =========== ORDER SUCCESS PARAM============  -->
        <div th:if="${param.success}" class="alert alert-success alert-dismissible fade show ml-5 mt-2" role="alert">
            <strong>Item has been added to your!
                <!--                <span class="d-flex d-inline mr-2" sec:authorize="isAuthenticated()">-->
                <!--                    <span class="d-flex d-inline ml-2"-->
                <!--                          th:text="${#authentication.principal.username}"></span>-->
                <!--                </span>'s cart!-->
            </strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        </span>
            <div style="color: black;" class="ml-auto mt-2 mr-2 d-flex text-center">
                <h2 style="font-weight: lighter; font-size: medium;">
                    <span>browse</span> <br> <span>categories</span>
                </h2>
<!--                <h6 th:text="${keyword}"></h6>-->
            </div>
            <div>
                <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent"
                        aria-expanded="false" aria-label="Toggle navigation"
                        style="background-color: black; border: 2px solid #400000;">
                    <span class="navbar-toggler-icon shadow"></span>
                </button>
            </div>
        </nav>
    </div>

    <!-- ===============   LIQUOR SHOW ALL PRODUCTS LOOP  ===================  -->
    <div class="row justify-content-around d-flex text-center mr-auto ml-auto"
         style="width: 90%; z-index: 1; position: relative;">
        <!--   +++++++++++++     INSTERT LOOP VAR   +++++++++++++ -->
        <div th:each="productType : ${products}"
             class="card col-lg-2 col-md-4 col-sm-12 col-xs-12 py-3 px-4 mx-2 my-4"
             style="background-color: rgba(255,255,255, 0.1); border: rgba(225, 255, 255, 0.1); width: 180px;">
            <div class="m-auto" style="width: 180px; height: 210px !important;">
                <!--                class="d-inline m-auto"-->
                <img class="m-auto center rounded"
                     style="width: 180px !important; height: 210px !important;"

                     th:src="${productType.image}" alt="Sorry no image available"/>
            </div>
            <!--  +++++++++++++      INSERT CORRECT TAG   +++++++++++++ -->
            <form th:action="@{/Liquor}" method="get"
                  style="text-decoration: none; width: 100%; font-size: small;"
                  class="text-center d-flex d-inline">
                <!--                d-flex ^-->
                <!--   ========  PRODUCT-TYPE TAGS  =======        -->
                <!--                <button type="submit"-->
                <!--                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"-->
                <!--                        class="mt-auto btn btn-cats rounded-pill">-->
                <!--                    <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
                <!--                </button>-->
                <!--                <br>-->
                <!--   ========  CATEGORY TAGS =======    -->
                <button type="submit"
                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"
                        class="mt-auto btn btn-cats rounded-pill"
                        th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                    <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                </button>
                <br>
                <!--   ========  SUB-CATEGORY TAGS =======    -->
                <button type="submit"
                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"
                        class="mt-auto btn btn-cats rounded-pill"
                        th:value="${productType.getSubCategory().getId()}" name="subId">
                    <span th:text="${productType.getSubCategory().getName()}"></span>
                </button>

            </form>

            <!--  =============== PRICE ===================== -->
            <div style="margin-top: -2%;" class="m-auto">
                <p style="font-weight: bold; margin-bottom: 1%; color: black;">$<span
                        style="font-weight: bold" th:text="${productType.priceInCents}/100"></span></p>

                <!--  =============== ADD TO CART ===================== -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="width: 80%;"
                            class="rounded btn-custom btn-sm p-1 mb-1">Add to Cart
                    </button>
                </form>
                <!--  =============== NAME ===================== -->
                <div class="d-flex text-center" style="color: black;">
                    <p th:text="${productType.name}"></p>
                    <br>
                </div>
            </div>
        </div>
        <!--end-->
    </div>

    <!-- ===============   LIQUOR SHOW ALL PRODUCTS LOOP  ===================  -->
    <div class="row justify-content-around d-flex text-center mr-auto ml-auto"
         style="width: 90%; z-index: 1; position: relative;">
        <!--   +++++++++++++     INSTERT LOOP VAR   +++++++++++++ -->
        <div th:each="productType : ${catProducts}"
             class="card col-lg-2 col-md-4 col-sm-12 col-xs-12 py-3 px-4 mx-2 my-4"
             style="background-color: rgba(255,255,255, 0.1); border: rgba(225, 255, 255, 0.1); width: 180px;">
            <div class="m-auto" style="width: 180px; height: 210px !important;">
                <!--                class="d-inline m-auto"-->
                <img class="m-auto rounded"
                     style="width: 180px !important; height: 210px !important;"

                     th:src="${productType.image}" alt="Sorry no image available"/>
            </div>
            <!--  +++++++++++++      INSERT CORRECT TAG   +++++++++++++ -->
            <form th:action="@{/Liquor}" method="get"
                  style="text-decoration: none; width: 100%; font-size: small;"
                  class="text-center d-flex d-inline">
                <!--                d-flex ^-->
                <!--   ========  PRODUCT-TYPE TAGS  =======        -->
                <!--                <button type="submit"-->
                <!--                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"-->
                <!--                        class="mt-auto btn btn-cats rounded-pill">-->
                <!--                    <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
                <!--                </button>-->
                <!--                <br>-->
                <!--   ========  CATEGORY TAGS =======    -->
                <button type="submit"
                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"
                        class="mt-auto btn btn-cats rounded-pill"
                        th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                    <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                </button>

                <!--   ========  SUB-CATEGORY TAGS =======    -->
                <button type="submit"
                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"
                        class="mt-auto btn btn-cats rounded-pill"
                        th:value="${productType.getSubCategory().getId()}" name="subId">
                    <span th:text="${productType.getSubCategory().getName()}"></span>
                </button>

            </form>

            <!--  =============== PRICE ===================== -->
            <div style="margin-top: -2%;" class="m-auto">
                <p style="font-weight: bold; margin-bottom: 1%; color: black;">$<span
                        style="font-weight: bold" th:text="${productType.priceInCents}/100"></span></p>

                <!--  =============== ADD TO CART ===================== -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="width: 80%;"
                            class="rounded btn-custom btn-sm p-1 mb-1">Add to Cart
                    </button>
                </form>
                <!--  =============== NAME ===================== -->
                <div class="d-flex text-center" style="color: black;">
                    <p th:text="${productType.name}"></p>
                    <br>
                </div>
            </div>
        </div>
        <!--end-->
    </div>

    <!-- ===============   SUB CAT SHOW ALL PRODUCTS LOOP  ===================  -->
    <div class="row justify-content-around d-flex text-center mr-auto ml-auto"
         style="width: 90%; z-index: 1; position: relative;">
        <!--   +++++++++++++     INSTERT LOOP VAR   +++++++++++++ -->
        <div th:each="productType : ${subProducts}"
             class="card col-lg-2 col-md-4 col-sm-12 col-xs-12 py-3 px-4 mx-2 my-4"
             style="background-color: rgba(255,255,255, 0.1); border: rgba(225, 255, 255, 0.1); width: 180px;">
            <div class="m-auto" style="width: 180px; height: 210px !important;">
                <!--                class="d-inline m-auto"-->
                <img class="m-auto rounded"
                     style="width: 180px !important; height: 210px !important;"

                     th:src="${productType.image}" alt="Sorry no image available"/>
            </div>
            <!--  +++++++++++++      INSERT CORRECT TAG   +++++++++++++ -->
            <form th:action="@{/Liquor}" method="get"
                  style="text-decoration: none; width: 100%; font-size: small;"
                  class="text-center d-flex d-inline">
                <!--                d-flex ^-->
                <!--   ========  PRODUCT-TYPE TAGS  =======        -->
                <!--                <button type="submit"-->
                <!--                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"-->
                <!--                        class="mt-auto btn btn-cats rounded-pill">-->
                <!--                    <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
                <!--                </button>-->
                <!--                <br>-->
                <!--   ========  CATEGORY TAGS =======    -->
                <button type="submit"
                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"
                        class="mt-auto btn btn-cats rounded-pill"
                        th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">
                    <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>
                </button>
                <br>
                <!--   ========  SUB-CATEGORY TAGS =======    -->
                <button type="submit"
                        style="color: black; font-size: small; background-color: rgba(255,255,255, 0.1);"
                        class="mt-auto btn btn-cats rounded-pill"
                        th:value="${productType.getSubCategory().getId()}" name="subId">
                    <span th:text="${productType.getSubCategory().getName()}"></span>
                </button>

            </form>

            <!--  =============== PRICE ===================== -->
            <div style="margin-top: -2%;" class="m-auto">
                <p style="font-weight: bold; margin-bottom: 1%; color: black;">$<span
                        style="font-weight: bold" th:text="${productType.priceInCents}/100"></span></p>

                <!--  =============== ADD TO CART ===================== -->
                <form th:action="@{/Liquor}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${productType.id}" name="productId"/>
                    <button style="width: 80%;"
                            class="rounded btn-custom btn-sm p-1 mb-1">Add to Cart
                    </button>
                </form>
                <!--  =============== NAME ===================== -->
                <div class="d-flex text-center" style="color: black;">
                    <p th:text="${productType.name}"></p>
                    <br>
                </div>
            </div>
        </div>
        <!--end-->
    </div>

</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>