<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Search</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>

<!--  TOP NAV  -->
<nav th:replace="partials/navbar :: navbar"></nav>
<div th:replace="partials/login-modal :: login-modal"></div>
<div th:replace="partials/contact-modal :: contact-modal"></div>

<!--  CONTAINER  -->
<div class="row mt-5" style="width:100%; color:black;">

    <div class="pos-f-t fixed-top" style="margin-top: -15%; margin-right: 30%; width: 50%; transform: rotate(270deg);">
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-dark p-4">
                <h4 class="text-white">Collapsed content</h4>
                <span class="text-muted">Toggleable via the navbar brand.</span>
            </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
    </div>

    <!--  SIDE NAV  -->
    <!--  CITATION: https://coreui.io/docs/getting-started/download/#source-files  -->
    <!--    <div th:fragment="side-nav" class="col-md-2 c-sidebar c-sidebar-show fixed-top navbar-expand-md"-->
    <!--         style="margin-top: 52px; height: 100%; z-index: 1001; background-color: black;">-->
    <!--        <h2 style="color:white; font-weight: lighter" class="pl-2 mt-5">-->
    <!--            All Products-->
    <!--            <span><h5 th:text="${keyword}" ></h5></span>-->
    <!--        </h2>-->
    <!--        &lt;!&ndash;  SEARCH BAR  &ndash;&gt;-->
    <!--        <form class="center ml-2 d-inline" th:action="@{/Search}" method="get">-->
    <!--            <input id="txtSearch" type="text" name="keyword">-->
    <!--        </form>-->

    <!--    PRODUCT TYPE SIDE-NAV DISPLAY    -->
    <!--        <ul class="c-sidebar-nav">-->
    <!--            <li class="c-sidebar-nav-title">Browse by category</li>-->


    <!--            &lt;!&ndash;       LIQUOR      &ndash;&gt;-->
    <!--            <li class="c-sidebar-nav-item">-->
    <!--                <a th:href="@{/Liquor}">-->
    <!--                    <form class="c-sidebar-nav-link">-->
    <!--                        <p>LIQUOR</p>-->
    <!--                    </form>-->
    <!--                </a>-->
    <!--            </li>-->

    <!--            &lt;!&ndash;       BEER      &ndash;&gt;-->
    <!--            <li class="c-sidebar-nav-item">-->
    <!--                <a th:href="@{/Beer}">-->
    <!--                    <form class="c-sidebar-nav-link">-->
    <!--                        <p>BEER</p>-->
    <!--                    </form>-->
    <!--                </a>-->
    <!--            </li>-->

    <!--            &lt;!&ndash;       WINE      &ndash;&gt;-->
    <!--            <li class="c-sidebar-nav-item">-->
    <!--                <a th:href="@{/Wine}">-->
    <!--                    <form class="c-sidebar-nav-link">-->
    <!--                        <p>WINE</p>-->
    <!--                    </form>-->
    <!--                </a>-->
    <!--            </li>-->

    <!--            &lt;!&ndash;       EXTRAS      &ndash;&gt;-->
    <!--            <li class="c-sidebar-nav-item">-->
    <!--                <a th:href="@{/Extras}">-->
    <!--                    <form class="c-sidebar-nav-link">-->
    <!--                        <p>EXTRAS</p>-->
    <!--                    </form>-->
    <!--                </a>-->
    <!--            </li>-->
    <!--        </ul>-->

    <!--SHOW ALL PRODUCTS-->
    <div class="col-md-12 mt-5" style="width: 100%; z-index: 1;">
        <div th:each="product : ${products}" class="card col-md-4 mt-3 m-3 shadow p-3 bg-white rounded float-right">

            <a style="color: black; text-decoration: none;" th:href="@{/Search/{id}(id=${product.id})}"
               th:value="${product.id}">
                <div class="card-header text-white center"
                     style="border-bottom: 4px solid maroon; width: 126px; height: 189px; background-color: black">
                    <img class="center" style="width: 126px; height: 189px;"
                         th:src="@{img/{productCat}.jpg(productCat=${product.getSubCategory().getCategory().getProductType().getName()})}"
                         alt="bottle"/>
                </div>
            </a>

            <div class="card-body d-flex flex-column">
                <p th:text="${product.name}"></p>
                <p th:text="${product.priceInCents}"></p>

                <form th:action="@{/Search}" th:method="post">
                    <input type="hidden" class="form-control" th:value="${product.getId() }" name="productId"/>
                    <button style="border-left: 4px solid #800000;" class="bg-dark text-white">Add to Cart</button>
                </form>

                <hr>
                <p style="font-weight: lighter; font-size: smaller"><i>tags</i></p>
                <!--   ============      TAGS       ========-->
                <!--                <form th:action="@{/Search}" method="get">-->
                <!--                    &lt;!&ndash;   ========  PRODUCT-TYPE TAGS CONNECTED=======        &ndash;&gt;-->
                <!--                    <button type="submit"-->
                <!--                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light">-->
                <!--                        <span th:text="${productType.getSubCategory().getCategory().getProductType().getName()}"></span>-->
                <!--                    </button>-->
                <!--                    &lt;!&ndash;   ========  CATEGORY TAGS CONNECTED=======        &ndash;&gt;-->
                <!--                    <button type="submit"-->
                <!--                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
                <!--                            th:value="${productType.getSubCategory().getCategory().getId() }" name="catId">-->
                <!--                        <span th:text="${productType.getSubCategory().getCategory().getName()}"></span>-->
                <!--                    </button>-->
                <!--                    &lt;!&ndash;   ========  SUB-CATEGORY TAGS NOT CONNECTED=======    &ndash;&gt;-->
                <!--                    <button type="submit"-->
                <!--                            style="color: black; font-size: smaller;" class="mt-auto btn btn-light"-->
                <!--                            th:value="${productType.getSubCategory().getId()}" name="subId">-->
                <!--                        <span th:text="${productType.getSubCategory().getName()}"></span>-->
                <!--                    </button>-->
                <!--                </form>-->
            </div>
        </div>
    </div>

</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
