<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <footer th:fragment="footer" style="background-color: black; z-index:3000; position: fixed; left: 0; bottom: 0; width: 100%;; text-align: center; color:white;">
        &#169;Hilltop Liquors 2020
<!--        <a style="color:#3b5998;" href="https://www.facebook.com/HilltopLiquorsTX/"><i style="font-size: 25px;" class="fab fa-facebook"></i></a>-->
        <br>
        <a class="navbar-brand" style="font-weight: lighter; text-decoration: none; color: white;" href="#">3633 SW Moody St. Victoria, Texas 77905</a>
        <a class="navbar-brand" style="font-weight: lighter; text-decoration: none; color: white;" href="#">+1(361)703-5047</a>
        <a class="navbar-brand" style="font-weight: lighter; text-decoration: none; color: white;" href="#">hilltopliquors@yahoo.com</a>
    </footer>

</body>
</html>