<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <footer th:fragment="footer" class=" mt-3" style="background-color: black; position: fixed; left: 0; bottom: 0; width: 100%;; text-align: center; color:white; font-weight: lighter; z-index: 1000;">
        &#169;Hilltop Liquors 2020
        <br>
<!--        <a class="navbar-brand" style="text-decoration: none; color: white;" href="#">3633 SW Moody St. Victoria, Texas 77905</a>-->
<!--        <a class="navbar-brand" style="text-decoration: none; color: white;" href="#">+1(361)703-5047</a>-->
<!--        <a class="navbar-brand" style="text-decoration: none; color: white;" href="#">hilltopliquors@yahoo.com</a>-->
    </footer>

</body>
</html>