<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<!--&lt;!&ndash;  CITATION: https://coreui.io/docs/getting-started/download/#source-files  &ndash;&gt;-->
<!--<div th:fragment="side-nav" class="c-sidebar c-sidebar-dark c-sidebar-show fixed-top navbar-expand-md"-->
<!--     style="margin-top: 55px; height: 100%; z-index: 1;">-->

<!--    &lt;!&ndash;  SEARCH BAR  &ndash;&gt;-->
<!--    <form class="center d-inline mt-5" th:action="@{/Search}" method="get">-->
<!--        <input id="txtSearch" type="text" name="keyword">-->
<!--        <button type="submit">Search</button>-->
<!--    </form>-->



<!--    &lt;!&ndash;  LIQUOR  &ndash;&gt;-->
<!--    <ul class="c-sidebar-nav">-->

<!--        <li class="c-sidebar-nav-title" th:text="${keyword}"></li>-->

<!--        <li class="c-sidebar-nav-title">Browse by category</li>-->

<!--        <li class="c-sidebar-nav-item">-->


<!--&lt;!&ndash;            <a th:href="@{/Search/{id}(id=${post.id})}" th:value="${post.id}">&ndash;&gt;-->
<!--&lt;!&ndash;                <button style="border-left: 4px solid orange;" class="bg-dark text-white mt-2">view</button>&ndash;&gt;-->
<!--&lt;!&ndash;            </a>&ndash;&gt;-->
<!--&lt;!&ndash;            <form class="d-inline mt-5" th:action="@{/Search}" method="get">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                enter value for liquor id&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                <input type="submit" name="productTypeKeyWord" th:value="2">&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                <a class="c-sidebar-nav-link" th:href="@{/Search/find/{id}(id=${products.getSubCategory().getCategory().getProductType().getName()})}" th:value="${post.id}">&ndash;&gt;-->
<!--&lt;!&ndash;                    <i class="c-sidebar-nav-icon cil-speedometer"></i> Liquor&ndash;&gt;-->
<!--&lt;!&ndash;                </a>&ndash;&gt;-->
<!--&lt;!&ndash;            </form>&ndash;&gt;-->
<!--        </li>-->

<!--        &lt;!&ndash;    BEER    &ndash;&gt;-->
<!--        <li class="c-sidebar-nav-item">-->
<!--            <a class="c-sidebar-nav-link" href="#">-->
<!--                <i class="c-sidebar-nav-icon cil-speedometer"></i> Beer-->
<!--            </a>-->
<!--        </li>-->

<!--        &lt;!&ndash;    WINE    &ndash;&gt;-->
<!--        <li class="c-sidebar-nav-item">-->
<!--            <a class="c-sidebar-nav-link" href="#">-->
<!--                <i class="c-sidebar-nav-icon cil-speedometer"></i> Wine-->
<!--            </a>-->
<!--        </li>-->


<!--    </ul>-->
    <!--    <button class="c-sidebar-minimizer c-brand-minimizer" type="button"></button>-->
<!--</div>-->
</body>
</html>