<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head :: head">


    <title>Registration</title>
</head>
<body>

<!--<nav class="navbar navbar-inverse navbar-fixed-top">-->
<!--    <div class="container">-->
<!--        <div class="navbar-header">-->
<!--            <button type="button" class="navbar-toggle collapsed"-->
<!--                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"-->
<!--                    aria-controls="navbar">-->
<!--                <span class="sr-only">Toggle navigation</span> <span-->
<!--                    class="icon-bar"></span> <span class="icon-bar"></span> <span-->
<!--                    class="icon-bar"></span>-->
<!--            </button>-->
<!--            <a class="navbar-brand" href="#" th:href="@{/registration.html}">Registration and-->
<!--                Login Module</a>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->

<br>
<div th:if="${loginError}">
    <div class="alert alert-danger"> Invalid username or
        password.</div>
</div>
<div th:if="${param.logout}">
    <div class="alert alert-info">You have been logged out.</div>
</div>
<br>

<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1>Login page</h1>
            <form th:action="@{/login}" method="post">
<!--                <div th:if="${param.error}">-->
<!--                    <div class="alert alert-danger">Invalid username or-->
<!--                        password.</div>-->
<!--                </div>-->
<!--                <div th:if="${param.logout}">-->
<!--                    <div class="alert alert-info">You have been logged out.</div>-->
<!--                </div>-->
                <div class="form-group">
                    <label for="username">Username</label>: <input type="text"
                                                                   id="username" name="username" class="form-control"
                                                                   autofocus="autofocus" placeholder="Username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>: <input type="password"
                                                                   id="password" name="password" class="form-control"
                                                                   placeholder="Password" />
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3">
                           <input type="submit" th:action="@{/Home}" name="login-submit" id="login-submit"
                                                class="form-control btn btn-primary" value="Log In" />
                        </div>
                    </div>
                </div>
                <div class="form-group">
      <span>New user? <a href="/registration">Register
        here</a></span>
                </div>
            </form>


<!--            Other Form -->

<!--            <form name='f' action="login" method='POST' onsubmit="return validate();">-->
<!--                <span id="welcometext">&nbsp;</span>-->

<!--                <br /><br />-->
<!--                <label class="col-sm-4" th:utext="#{label.form.loginEmail}">Email</label>-->
<!--                <span class="col-sm-8"><input class="form-control" type='text' name='username' value=''/></span>-->

<!--                <br/><br/>-->
<!--                <label class="col-sm-4" th:utext="#{label.form.loginPass}">password</label>-->
<!--                <span class="col-sm-8"><input class="form-control" type='password' name='password' /></span>-->

<!--                <br/><br/>-->
<!--                <label class="col-sm-4" th:utext="#{label.form.login2fa}">Google Authenticator Verification Code</label>-->
<!--                <span class="col-sm-8"><input class="form-control" type='text' name='code' /></span>-->

<!--                <br/><br/>-->
<!--                <input class="btn btn-primary" name="submit" type="submit" th:value="#{label.form.submit}" />-->

<!--            </form>-->
        </div>
    </div>


</div>

<!--<script type="text/javascript"-->
<!--        th:src="@{/webjars/jquery/3.5.1/jquery.min.js/}"></script>-->
<!--<script type="text/javascript"-->
<!--        th:src="@{/webjars/bootstrap/4.5.2/js/bootstrap.min.js}"></script>-->

</body>
</html>