/*==== CONTACT ====*/
#section-contact{
    margin-top: -4% !important;
}

.contact-form{
    padding-top: 6% !important;
}

.center {
    text-align: center !important;
}

/*===== TOP DIVS =====*/
.shopLocalDiv{


}

.communityDiv{
background-image: url("static/img/pet_sponser1.JPG");
}

.eventDiv{

}

.recipesDiv{

}