/*.homeBody {*/
/*    background-image: url("../img/bg-search.jpg") !important;*/
/*    min-height: 50%;*/
/*    background-position: center;*/
/*    background-repeat: no-repeat;*/
/*    background-size: cover;*/
/*}*/

html,
body {
    height: 100%;
    width: 100%;
}

* {
    box-sizing: border-box;
}

.container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

/*==== CONTACT ====*/
#section-contact {
    margin-top: -4% !important;
}

.contact-form {
    padding-top: 6% !important;
}

.center {
    text-align: center !important;
}

/*===== TOP DIVS =====*/
.storeDiv {
    height: 100%;
    width: 100%;
    position: relative;
}

img {
    background-image: url("../img/search-bg.JPG");
    height: 100%;
    width: 100%;
    background-size: cover;
    /*z-index: 1;*/
    background-repeat: no-repeat;
}

.title {
    position: absolute;
    top:28%;
    left: 28%;
    padding: 5%;
    background-color: rgba(0,0,0,.6);
    color: white;

}

/*.shopLocal {*/
/*    background-image: url("../img/shop-local-1.jpg") !important;*/
/*    background-size: cover !important;*/
/*}*/

/*.aboutUs {*/
/*    background-image: url("../img/first-summer-giveaway-winner-2019.jpg") !important;*/
/*    background-size: cover !important;*/
/*}*/

/*.contactUs {*/
/*    background-image: url("../img/in-store-wine-rack.jpg") !important;*/
/*    background-size: cover !important;*/
/*}*/

/*.communityDiv:hover .overlay {*/
/*    box-shadow: 10px 20px 20px grey;*/
/*    opacity: 1;*/
/*}*/

/*.text {*/
/*    color: white;*/
/*    font-size: 20px;*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    -webkit-transform: translate(-50%, -50%);*/
/*    -ms-transform: translate(-50%, -50%);*/
/*    transform: translate(-50%, -50%);*/
/*    text-align: center;*/
/*}*/

/*.divWidth {*/
/*    width: 100%;*/
/*}*/

/*.overlay {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    height: 100%;*/
/*    width: 100%;*/
/*    opacity: 0;*/
/*    transition: .7s ease;*/
/*    background-color: #400000;*/
/*}*/

/*==================*/
div.new_html_code {
    width: 150px;
    height: 100px;
    min-width: 150px;
    min-height: 100px;
    max-width: 200px;
    max-height: 100px;
    overflow: hidden;
    display: block;
    border: 1px solid red;
}



