<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:include="partials/head :: head">-->
<!--    <title>Hilltop-About</title>-->

<!--    <style>-->
<!--        nav {-->
<!--            height: 70px !important;-->
<!--        }-->
<!--    </style>-->

<!--</head>-->
<!--<body>-->
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<!--<div class="container m-5 p-5 center" style="background-color: #f4f4f4;">-->
<!--    &lt;!&ndash; ======================&ndash;&gt;-->
<!--    &lt;!&ndash;about&ndash;&gt;-->
<!--    <section id="section-about">-->
<!--        <div class="container">-->
<!--            <div id="about">-->
<!--                <div class="row mar-bot40">-->
<!--                    <div class="col-md-offset-3 col-md-12">-->
<!--                        <div class="title">-->
<!--                            <div class="wow bounceIn">-->

<!--                                <h2 class="section-heading animated" data-animation="bounceInUp">About Us</h2>-->
<!--                                <p><b>Let's begin by breaking the ice, grabbing a beer, and getting to know one another!</b></p>-->

<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->


<!--                <div class="col-lg-12 ">-->
<!--                    <div class="company mar-left10">-->
<!--                        <h4><span id="span">Welcome to Hilltop Liquors!</span></h4>-->
<!--                        <p class="text-left"><br> Your number one source for beer, wine & spirits. We're dedicated to-->
<!--                            giving you the very best liquor store in Victoria, Tx with a focus on quality products,-->
<!--                            dependability, customer service and uniqueness.<br><br>-->

<!--                            Founded in 2019 by the Smith family, Hilltop Liquors has come a long way from its-->
<!--                            beginnings, starting out with a complete remodel in December 2018 to now being compared with-->
<!--                            some of the larger corporate run liquor stores! We now serve customers all over Victoria and-->
<!--                            the surrounding counties and are thrilled to be a part of the very competitive yet rewarding-->
<!--                            liquor store industry.-->
<!--                            We hope you enjoy our products as much as we enjoy offering them to you. If you have any-->
<!--                            questions or comments, please don't hesitate to contact us.-->
<!--                            <br><br>-->
<!--                            Your local Victoria family, <br>-->
<!--                            <i>~The Smiths</i></p>-->

<!--                    </div>-->

<!--                </div>-->

<!--            </div>-->
<!--        </div>-->


<!--        &lt;!&ndash;/about&ndash;&gt;-->
<!--        &lt;!&ndash; OUR TEAM &ndash;&gt;-->
<!--        &lt;!&ndash; ================&ndash;&gt;-->

<!--        <div class="container">-->

<!--            <div class="row mar-bot10">-->
<!--                <div class="col-md-offset-3 col-md-6">-->
<!--                    <div class="section-header">-->
<!--                        <div class="wow bounceIn">-->

<!--                            <h2 class="section-heading animated" data-animation="bounceInUp">Meet the Team</h2>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row align-center mar-bot45">-->
<!--                &lt;!&ndash; CARD ONE- family &ndash;&gt;-->
<!--                &lt;!&ndash; ==========================&ndash;&gt;-->
<!--                <div class="col-md-4">-->
<!--                    <div class="wow bounceIn" data-animation-delay="4.8s">-->
<!--                        <div class="team-member">-->
<!--                            <div class="profile-picture">-->
<!--                                <figure><img class="img-responsive" src="../static/img/team/team-1.jpg" alt=""></figure>-->
<!--                            </div>-->
<!--                            <div class="team-detail">-->
<!--                                <h4>The Smith Family</h4>-->
<!--                                <span>New owners</span>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                &lt;!&ndash; CARD TWO - manager&ndash;&gt;-->
<!--                &lt;!&ndash; ==========================&ndash;&gt;-->
<!--                <div class="col-md-4">-->
<!--                    <div class="wow bounceIn">-->
<!--                        <div class="team-member">-->
<!--                            <div class="profile-picture">-->
<!--                                <figure><img class="img-responsive" src="../static/img/team/team-2.jpg" alt=""></figure>-->
<!--                            </div>-->
<!--                            <div class="team-detail">-->
<!--                                <h4>Diane Blough </h4>-->
<!--                                <span>Store Manager</span>-->
<!--                            </div>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--                &lt;!&ndash; CARD animals&ndash;&gt;-->
<!--                &lt;!&ndash; ==========================&ndash;&gt;-->
<!--                <div class="col-md-4">-->
<!--                    <div class="wow bounceIn">-->
<!--                        <div class="team-member">-->
<!--                            <div class="profile-picture">-->
<!--                                <figure><img class="img-responsive" src="../static/img/team/patch-1.jpg" width="100%"-->
<!--                                             height="auto" alt=""></figure>-->
<!--                            </div>-->
<!--                            <div class="team-detail">-->
<!--                                <h4>Patches</h4>-->
<!--                                <span>Corporate Moral</span>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->

<!--    </section>-->
<!--</div>-->


<!--<footer th:replace="partials/footer :: footer"></footer>-->
<!--</body>-->
<!--</html>-->