<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Cart</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>

<!--  TOP NAV  -->
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container" style="width: 100%; margin-top: 5%;">
    <div>
        <header>
            <!--                <h1 th:text="${user.username}"></h1>-->
            <br>
        </header>


        <div class="row">
            <table class="col-md-5 table table-hover mr-5">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cart}">
                    <th scope="row"></th>
                    <td th:text="${cartItem.getName()}"></td>
                    <td th:text="${cartItem.getSize()}"></td>
                    <th></th>
                    <td th:text="${cartItem.getPriceInCents()}"></td>
                </tr>
                </tbody>
            </table>
            <!--  RECIEPT  -->

            <table class="col-md-5 table table-hover t-dark border border-dark ml-5">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tr th:each="cartItem : ${cart}">
                    <th scope="row"></th>
                    <td th:text="${cartItem.getName()}"></td>
                    <td th:text="${cartItem.getSize()}"></td>
                    <th></th>
                    <td th:text="${cartItem.getPriceInCents()}"></td>
                </tr>
                <!-- checkout btn -->
                <tr>
                    <td>
                        <p class="float-left"><span>Total: <span> #</span> </span></td>

                    <button th:action="@{/cart/checkout}" th:object="${order}" class="bg-dark text-white" type="submit">
                        Checkout
                    </button>
                </tr>
                </tbody>

            </table>

        </div> <!--  END DIV ROW-->
        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/Search}">keep
            shopping</a>


    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>