<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Cart</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>

<!--  TOP NAV  -->
<nav th:replace="partials/navbar :: navbar"></nav>
<div class="container m-5 p-5">
    <div>
        <header>
            <!--                <h1 th:text="${user.username}"></h1>-->
            <br>
        </header>


        <div class="row col-md-12">



            <table class="table table-hover" style="width:25%;">
                <thead>
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="cartItem : ${cart}">
                    <th scope="row"></th>
                    <td th:text="${cartItem.getName()}"></td>
                    <td th:text="${cartItem.getSize()}"></td>
                    <th></th>
                    <td th:text="${cartItem.getPriceInCents()}"></td>
                </tr>
                <!-- checkout btn -->
                <tr>
                    <td class="float-right"><span>Total: <span> #</span> </span></td>
                </tr>
                <tr class="checkout row">
                    <td colspan="5" class="float-right">
                        <form th:action="@{/cart/checkout}" th:object="${order}">
                            <button class="bg-dark text-white" type="submit">Checkout</button>
                        </form>
                    </td>
                    <td>
                    </td>
                </tr>
                <tr>
                    <td>
                        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/Search}">keep
                            shopping</a>
                    </td>
                </tr>
                </tbody>
            </table>




        </div> <!--  END DIV ROW-->


    </div>
</div>
<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>