<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Catering</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container m-5 p-5">

    <h2>Ask our manager about supplying your next big event</h2>
    <p>From cases of wine to beer kegs just ask and we will try our best to accomodate your needs!</p>
    <form>
        <div class="form-group">
            <label for="exampleFormControlInput1">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>

        <div class="form-group">
            <label for="exampleFormControlTextarea1">Event info</label>
            <p>Please include the date of your event and what your looking to have supplied</p>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Send Email</button>
    </form>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>