<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head th:include="partials/head :: head">-->
<!--    <title>Hilltop-Event-Supply</title>-->

<!--    <style>-->
<!--        nav {-->
<!--            height: 70px !important;-->
<!--        }-->
<!--    </style>-->

<!--</head>-->
<!--<body>-->
<!--<nav th:replace="partials/navbar :: navbar"></nav>-->

<!--<div class="container m-5 p-5">-->

<!--    <h2>Ask our manager about supplying your next big event</h2>-->
<!--    <p>From cases of wine to beer kegs just ask and we will try our best to accomodate your needs!</p>-->
<!--    <form>-->
<!--        <div class="form-group">-->
<!--            <label for="Name">Name:</label>-->
<!--            <input type="text" class="form-control" id="Name" placeholder="Name">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="phoneNumber">Phone Number</label>-->
<!--            <input type="number" class="form-control" id="phoneNumber" placeholder="(xxx)xxx-xxxx">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="email">Email address</label>-->
<!--            <input type="email" class="form-control" id="email" placeholder="name@example.com">-->
<!--        </div>-->
<!--        <div class="form-group">-->
<!--            <label for="eventInfo">Please describe event & date</label>-->
<!--            <textarea class="form-control" id="eventInfo" rows="3"></textarea>-->
<!--        </div>-->
<!--        <button type="submit" class="btn btn-dark btn-outline-info">Supply Request</button>-->
<!--        <a class="float-right" style="text-decoration: none; color:black;" th:href="@{/Home}">back</a>-->
<!--    </form>-->
<!--</div>-->

<!--<footer th:replace="partials/footer :: footer"></footer>-->
<!--</body>-->
<!--</html>-->