<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head (pageTitle ='Events')">

</head>
<body>
<header th:replace="partials :: header"></header>
<br>
<br>
<br>
<!--FIX THE SPACING MARGIN AND PADDING AND TAKE OUT 3 BR-->
<form>
    <div class="form-group">
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" id="firstName" placeholder="First Name">
    </div>
    <div class="form-group">
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
    </div>
    <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input type="number" class="form-control" id="phoneNumber" placeholder="(xxx)xxx-xxxx">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
    </div>
    <div class="form-group">
        <label for="eventInfo">Please describe event & date</label>
        <textarea class="form-control" id="eventInfo" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-dark btn-outline-info">Submit</button>
</form>

<footer th:replace="partials :: footer"></footer>
</body>
</html>