<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="partials/head :: head">
    <title>Hilltop-Home</title>

    <style>
        nav {
            height: 70px !important;
        }
    </style>

</head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<div class="container m-5 p-5">
    <h1>CAN YOU SEE THIS</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, debitis deserunt et illum molestias nesciunt,
        nihil odio, porro quis quisquam quo recusandae sed sint tempora vitae voluptatem voluptatum! Dolorem, eaque.</p>
    <h2>HOME TEST</h2>
</div>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>
