<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="partials/head :: head">
    <title>Hilltop-Liquors</title>

    <style>
        nav{
            height: 70px!important;
        }
    </style>

</head>
<body>
<h1>Hilltop Liquors</h1>

<div class="card m-5 p-5">
    <div class="card-header">
        Are you 21 or older?
    </div>
    <div class="card-body">
        <a href="/Home" class="btn btn-primary">YES</a>
        <a href="#" class="btn btn-primary">NO</a>
    </div>
</div>

</body>
</html>