<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="partials :: head (pageTitle ='Login')">

</head>
<body>
<header th:replace="partials :: header"></header>

<h1>CAN YOU SEE THIS</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, debitis deserunt et illum molestias nesciunt, nihil odio, porro quis quisquam quo recusandae sed sint tempora vitae voluptatem voluptatum! Dolorem, eaque.</p>
<P>LOGIN TEST!!!!</P>
<footer th:replace="partials :: footer"></footer>
</body>
</html>