<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<head>
    <meta charset="UTF-8">
    <title>COCKTAILS</title>
    <style>
        h1{
            width: 100%;
            text-align:center;
        }
        #drink-section img{
            width:100%;
            height:auto;
        }
    </style>
</head>
<body>
<h1>Random Cocktails</h1>
<div class="container m-5 p-5">

    <h2 id = drink-section"></h2>
</div>
<div class="container m-5 p-5">

    <h2 id="ons-list-item"></h2>
</div>
<div class="container m-5 p-5">

    <h2 id="ons-card"></h2>
</div>



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>

    fetch("https://the-cocktail-db.p.rapidapi.com/random.php", {
        "method": "GET",
        "headers": {
            "x-rapidapi-host": "the-cocktail-db.p.rapidapi.com",
            "x-rapidapi-key": "KEY"
        }
    })
        .then(response => response.json())
        .then(

            data =>
                // console.log(data))
                getCocktail(data))

        .catch(err => {
            console.log(err);
        });

    function getCocktail(cocktail){

        // console.log( cocktail.drinks[0].strDrinkThumb + " " + cocktail.drinks[0].strDrink);
        let drinkSection = document.querySelector('#drink-section');
        let drinkName = document.createElement('h2');
        drinkName.innerHTML = cocktail.drinks[0].strDrink;
        drinkSection.appendChild(drinkName);

        let img = document.createElement('img');
        img.src = cocktail.drinks[0].strDrinkThumb;

        drinkSection.appendChild(img);
        for(let i=1; i<16; i++){
            // console.log(i);
            if(cocktail.drinks[0][`strIngredient${i}`] == null || cocktail.drinks[0][`strIngredient${i}`] == '' ){
                break;
            }

            let ingredient = document.createElement('ons-list-item');
            ingredient.innerHTML = cocktail.drinks[0][`strMeasure${i}`] + ': ' + cocktail.drinks[0][`strIngredient${i}`];
            drinkSection.appendChild(ingredient);
        }
        let card = document.createElement('ons-card');
        card.innerHTML = cocktail.drinks[0].strInstructions;

        drinkSection.appendChild(card);
    }
</script>
</body>
</html>