<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link rel="shortcut icon" type="image/png" href="img/H.png">
<title>Products CSV</title>


<head th:include="partials/admin-display-head :: head">

    <style>
        nav {
            height: 70px !important;
        }
        .top-con {
            margin-top: 50% !important;
        }


    </style>

</head>
<body>
<nav th:replace="partials/adnav :: navbar"></nav>

<!--<div class="container p-1 mt-2 d-flex d-inline">-->
<!--    <div>-->
<!--        <br>-->
<!--        <h3><a class="btn btn-success" style="text-decoration: none; color:black;" th:href="@{/admin}">Dashboard</a></h3>-->
<!--        <br>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container mr-5 ">-->
<div class="container">
    <div class="row" style="margin-top: 8%">
    <div class="circle col-md-2">
        <a th:href="@{/admin}"><div class="icon icon-fill"><i class="fa fa-home"></i></div></a>
        <h4 style="margin-left: 9%;">Dashboard</h4>
    </div>
        <div class="col-md-10">
            <h2 style="margin-right: 19%;">FileUpload(CSV)</h2>
            <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${successmessage}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${successmessage}"></span>
            </div>

            <div class="alert alert-danger alert-dismissible fade show" role="alert" th:if="${errormessage}">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span th:text="${errormessage}"></span>
            </div>

            <form action="" th:action="@{'/fileupload'}" th:object="${product}" method="post" enctype="multipart/form-data">
                <div class="form-group d-flex d-inline justify-content-center mr-3">
<!--                    <label for="fileupload">File Upload(CSV)</label>-->
                    <div class="d-flex justify-content-center mt-3">
                    <button type="submit" style="padding-top: -2em; padding-bottom: -2em; padding-left: 2em; padding-right: 2em; font-size: 1em;" class="mr-1 btn btn-xs btn-warning">Submit</button>
                    <input type="file" size="60" class="form-control-file ml-1 info" id="fileupload" name="file" th:field="*{file}">
                     </div>
                </div>
            </form>
<!--                <form class="md-form">-->
<!--                    <div class="file-field">-->
<!--                        <a class="btn-floating purple-gradient mt-0 float-left">-->
<!--                            <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>-->
<!--                            <input type="file">-->
<!--                        </a>-->
<!--                        <div class="file-path-wrapper">-->
<!--                            <input class="file-path validate" type="text" placeholder="Upload your file">-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
        </div>
        <div class="col-md-12">
            <h2>All Products</h2>
            <table class="table table-light table-striped table-bordered font-weight-bold">
                <thead class="text-uppercase thead-dark">
                <tr>
                <tr>
                    <th>SKU</th>
                    <th>Name</th>
                    <th>SubCategories</th>
                    <th>Size in Volume</th>
                    <th>Price</th>
                    <th>In Store Count</th>
                    <th>File Type</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="product : ${products}">
                    <td th:text="${product.sku}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.subCategory.id}"></td>
                    <td th:text="${product.size}"></td>
                    <td th:text="${product.priceInCents}"></td>
                    <td th:text="${product.inStoreCount}"></td>
                    <td th:text="${product.fileType}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!--</div>-->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>